<div class="main">
  <div class="userbar">
  <%= render 'userbar' %>
  </div>
  <div class="center-bar">
    <div><%= render 'post' %></div>
    <div><%= render 'feed' %></div>
  </div>
  <div class="right-bar">
  <%= render 'right' %>
  </div>
</div>
