<div class="main">
  <div class="userbar">
    <%= render 'shared/userbar' %>
  </div>
  <div class="center-bar">
    <div><%= render 'info' %></div>
    <div><%= render 'shared/feed' %></div>
  </div>
  <div class="right-bar">
    <%= render 'shared/right' %>
  </div>
</div>
