.bark_post {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  background-color: white;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.bark-post-form {
  width: 100%;
  padding-left: 8px;
}

.bark-post-form-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.bark-message {
  display:flex;
  justify-content:flex-end ;
}
