<div class="bark-post">
  <div>
    <%= @user.photo.attached? ? cl_image_tag(@user.photo.key, class: "avatar") : image_tag("users/blankuser.png", class: "avatar") %>
  </div>
  <div>
    <div>
      <p>What's happening?</p>
    </div>
    <div class="bark-post-form">
      <%= simple_form_for [@user, @bark] do |f| %>
        <%= f.input :message , label: false, placeholder: 'Write your bark...', input_html: {rows: 2}, wrapper: false %>
        <div class="d-flex forms-buttons">
          <%= f.button :submit, 'Tweet', class: "twtbtn" %>
        </div>
      <% end  %>
    </div>
  </div>
</div>
