<div class="main">
  <div class="side-bar">
  <%= render 'left' %>
  </div>
  <div class="side-bar">
    <div><%= render 'post' %></div>
    <div><%= render 'feed' %></div>
  </div>
  <div class="side-bar">
  <%= render 'right' %>
  </div>
</div>
