.right-bar {
  width: 30%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.following-pane{
  width: 100%;
  overflow: hidden;
  margin-top: 8px;
}

.follow-card {
  overflow: hidden;
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  margin-top: 8px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: 0.3s;
  padding: 8px;
}

.follow-card:hover {
  background: #ced4da;;
}

.follow-card img {
  height: 100%;
  width: 42px;
  object-fit: cover;
}

.follow-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.follow-card .follow {
  width: 100%;
  padding: 16px;
}

.follow-info p {
  margin-top: 0px;
}

.follow-info .name {
  font-size: larger;
  font-weight: bold;
}

.follow-button {
  display: flex;
  align-items: center;
}

.follow-button .barker-button{
  margin-top: 0px;
  margin-right: 4px;
}
