.userbar {
  display:flex;
  flex-direction: column;
  width: 30%;
  padding: 12px;
  margin-top: 12px;
  align-items: center;
}

.userbar .header {
  margin-top: 16px;
}


.user-card {
  display: flex;
  overflow: hidden;
  background: white;
  margin-top: 8px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  padding: 12px;
}

.feed-logo {
  margin-bottom: 10%;
  width: 100%;
  max-width: 250px;
}

.user-card .avatar {
  height: 100%;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.user-avatar-frame {
  display:flex;
  align-items: center;
}

.user-info {
  margin-left: 12px;
  width:100%;
}

.user-info p {
  font-size: smaller;
  margin-bottom: 0.5rem;
}

.log-out-button {
  display: flex;
  justify-content: flex-end;
}
