.user-top {
  display:flex;
  background-color: white;
  background:
  linear-gradient( 180deg, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255) 50%),
  linear-gradient( 135deg, #ff670f 0%,#ffcd59 100%);
  margin: 8px;
  border: 1px solid #ced4da;
  overflow: hidden;
  height: 30vh;
  margin-bottom: 12px;
}

.user-background {
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, #ff670f 0%,#ffcd59 100%);
}

.user-top-avatar-frame {
  display:flex;
  align-items:center;
  padding: 1rem;
}
.user-top-avatar {
  height:180px;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffffff;
}

.user-names {
  display:flex;
  align-items: baseline;
}

.user-top-info {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding :8px;
}

.user-top-info p {
    margin-bottom: 4px;
  }

.info-date {
  font-size: smaller;
}

.user-follow-button {
  display:flex;
  justify-content: flex-end;
}

.spacer {
  height:50%;
}

.user-spacer {
  height:50%;
}
