.user-top {
  display:flex;
  background-color: white;
  background:
  linear-gradient( 180deg, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255) 50%),
  linear-gradient( 135deg, #ff670f 0%,#ffcd59 100%);
  margin: 8px;
  border: 1px solid #ced4da;
  overflow: hidden;
  height: 25vh;
  margin-bottom: 12px;
}

.user-background {
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, #ff670f 0%,#ffcd59 100%);
}

.user-top-avatar-frame {
  display:flex;
  align-items:center;
}
.user-top-avatar {
  height:180px;
  width: auto;
  padding: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-top-info {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

.user-top-info-box {
  display:flex;
  align-items: center;
}

.user-top-handle {
  margin-top:18px;
  margin-left:12px;
}

.info-date {
  font-size: smaller;
}
